@import '../../../../Style/variables';
@import '../../../../Style/mixin';

.wetch_bind{
    text-align: center;
    border-top: solid 1px #C8C8C8;
    padding-top: 30px;
    #wetch_bind{
        background: #f5f2f2;
        padding: 10px;
        width: 270px;
        margin: 0 auto;
    }
    p{
        font-size: 14px;
        margin-top: 20px;
    }
}
