@import '../../Style/variables';
@import '../../Style/mixin';

.activity_main{
    margin-bottom: 15px;
    .activity_list{
        min-height: 657px;
        li {
            position: relative;
            float: left;
            margin-top: 10px;
            border: 1px solid #ddd;
            background: #eee;
            .activity_img {
                @include wh(580px, 250px);
                overflow: hidden;
            }
            img {
                width: 580px;
                vertical-align: middle;
            }
            &:nth-child(2n+1) {
                margin-right: 8px;
            }
            .activity_apply {
                position: absolute;
                top: 0;
                left: 0;
                width: 87px;
            }
        }
        .activity_participation {
            background-color: #fff;
            padding: 12px;
            p {
                color: $color_363636;
                font-size: 18px;
            }
            i {
                font-style: normal;
                color: #999999;
                font-size: 12px;
            }
            .endBtn {
                color: #B7B7B7;
                background-color: #F5F5F5;
                border-color: #D9D9D9;
            }
        }
    }
    .active_pagination {
        margin-top: 15px;
        float: right;
    }
}

.activity_main.theme-white {
    background-color: $main_bg;
}

.activity_main.theme-gray {
    background-color: $main_bg_gray;
}

.activity_main.theme-black {
    background-color: $main_bg_black;
}
