@import '../../../Style/variables';
@import '../../../Style/mixin';


.self_i_main{
    padding-bottom: 15px;
    .self_i_top{
        padding: 15px 20px;
        font-size: 14px;
        background-color: #fff;
        .s_i_content{
            font-size: 14px;
            border: 1px solid #C1C0C5;
            padding: 4px 10px 10px 10px;
            height: 242px;
        }
        .s_i_account_money{
            border: 1px solid #C1C0C5;
            @include wh(515px, 242px);
            padding: 10px;
            .s_i_a_top{
                padding-left: 40px;
                margin-left: 25px;
                height: 56px;
                line-height: 52px;
                background: url(./Img/money_icon.png) no-repeat left center;
                .account_money{
                    h3{
                        display: inline-block;
                        font-size: 18px;
                    }
                    em{
                        font-size: 24px;
                        color: $color_CF2027;
                        font-style: normal;
                    }
                }
                .recharge_btn{
                    margin: 11px 0;
                }
            }
            .rests_money{
                border: 1px solid #eee;
                border-left: 0;
                border-right: 0;
                li{
                    float: left;
                    border: 1px solid #eee;
                    border-top: 0;
                    border-left: 0;
                    @include wh(246px, 52px);
                    padding: 5px 20px;
                    .transfer_btn{
                        margin-top: 7px;
                    }
                }
                li:last-child{
                    border-bottom: 0;
                }
            }
        }
        .s_i_info{
            width: 218px;
            margin-top: 5px;
            text-align: left;
            h3{
                font-size: 18px;
                color: $color_CF2027;
                span{
                    width: 145px;
                    display: inline-block;
                }
            }
            p{
                line-height: 32px;
            }
        }
        .s_i_logo{
            width: 218px;
            margin: 10px 0 0 10px;
            color: $color_CF2027;
            img{
                width: 190px;
            }
        }

    }
    .log_text{
        margin-left: 20px;
        font-size: 14px;
    }
    .self_i_bottom{
        border: 1px solid #ccc;
        margin: 5px 20px 0;
        padding: 12px;
        background-color: #fff;
    }
    .self_info_type{
        width: 449px;
        margin: 10px auto 3px;
        li{
            float: left;
            margin-bottom: 12px;
        }
        li:nth-child(odd){
            margin-right: 12px;
        }
        .prompt{
            font-size: 12px;
            color: $color_CF2027;
        }
        .ant-input{
            height: 30px;
            background: transparent;
            padding-left: 40px;
            padding-right: 24px;
        }
        .ant-input-group{
            width: 218px;
        }
        .ant-input-group-addon{
            display: inline-block;
            width: 30px;
        }
    }
    .s_i_btn{
        text-align: center;
        .ant-btn{
            font-size: 14px;
            padding: 5px 30px;
            margin-right: 10px;
        }
    }
}
