@import '../../Style/variables';
@import '../../Style/mixin';

.all_bet{
    width: $nav_width_1200;
    margin:  0 auto;
    overflow: hidden;
}
.main{
    position: relative;
    width: 100%;
    background: $main_bg;
    .b_c_left_sider{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
    }
    audio{
        display: none;
    }
}

