@import '../../../Style/variables';
@import '../../../Style/mixin';

.alter_dividend{
    .ant-modal-body{
        padding: 170px 0 0 0;
        height: 653px;
        background: url(../../../Images/contract.png) no-repeat center center;
    }
    .alter_content{
        font-size: 14px;
        color: #7F6B37;
    }
    .a_c_list{
        width: 350px;
        margin: 0 auto;
        &>li{
            @include lh(30px);
            margin-bottom: 25px;
        }
        .user_p>span, .type_p>span{
            display: inline-block;
            width: 70px;
            text-align: right;
        }
    }
    .a_c_text{
        margin: 20px auto;
        width: 450px;
        .add_sale{
            padding-left: 15px;
            background: url(./img/add.png) no-repeat left center;
        }
        .ant-input-number-input{
            text-align: center;
        }
    }
    .a_c_text_sale{
        width: 567px !important;
    }
    .prize_group_slider{
        position: relative;
        margin-top: 40px;
        .slider_left{
            position: absolute;
            left: -32px;
            top: -9px;
            padding: 8px 12px;
            &:hover{
                cursor: pointer;
                color: $color_CF2027;
            }
        }
        .slider_right{
            position: absolute;
            right: -32px;
            top: -9px;
            padding: 8px 12px;
            &:hover{
                cursor: pointer;
                color: $color_CF2027;
            }
        }
    }
    .ant-slider{
        border-color: #FBFAF5;
    }
    .a_c_name{
        position: absolute;
        bottom: 15%;
        right: 18%;
        @include wh(71px, 71px);
        padding-top: 25px;
        font-size: 12px;
        p{
            text-align: center;
        }
    }
    .a_c_active{
        background: url(../../../Images/seal.png) no-repeat center center;
    }
    .a_c_btn{
        position: absolute;
        bottom: 40px;
        right: 25%;
        .a_c_cancel_btn{
            margin-right: 30px;
        }
    }
    .a_c_btn_one{
        position: absolute;
        bottom: 40px;
        right: 40%;
    }
    .text_content_list{
        li{
            line-height: 28px;
            .ant-input-number-input{
                text-align: center;
            }
        }
        .delete_sale{
            padding-left: 15px;
            background: url(./img/delete.png) no-repeat left center;
        }
        .subaccnum{
            display: inline-block;
            width: 50px;
            padding: 0 6px;
        }
        .brisk_user{
            width: 360px;
            white-space: normal;
            color: #6C6C6C;
            padding-left: 15px;
            background: url(./img/hint.png) no-repeat left 5px;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .ant-btn{
        width: 130px;
        padding: 6px 15px;
    }
    .ant-input-number-handler-wrap{
        display: none;
    }
    .ant-input-number{
        @include borderRadius(0);
        background-color: #fbfaf5;
        border: 0;
        border-bottom: 1px solid #C8C8C8;
        width: 60px;
    }
    .ant-input-number:hover{
        border-color: #cf2027;
    }
    .ant-input-number-focused{
        box-shadow: 0 0 0 0;
        border-color: #cf2027;
    }
    .ant-input-number-input[disabled]{
        color: rgb(109, 109, 109);
    }
    .ant-input-number-disabled .ant-input-number-input{
        background-color: #fbfaf5;
    }
    .ant-select-selection{
        border: 0;
        border-radius: 0;
        background: #fbfaf5 !important;
        border-bottom: 1px solid #7F6B37;
    }
    .ant-select-selection:hover {
        border-color: #CF2027;
    }
    .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
        box-shadow:none;
    }
    .ant-select-disabled{
        color: rgb(146, 144, 144);
    }
}
