.liaotian_modal{
    position: relative;
    .ant-modal-body{
        padding: 0;
    }
    .liaotian_iframe{
        border: 0;
    }
    .close_btn{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        &:before{
            content: "\E633";
            display: block;
            font-family: "anticon" !important;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            padding-left: 12px;
        }
        &:hover{
            cursor: pointer;
        }
    }
}
