@import '../../../Style/variables';
@import '../../../Style/mixin';


.a_d_main{
    @include boxS(0, 4px, 18px, 0, #DCDCDC, null);
    .a_d_activeImg{
        vertical-align: middle;
        width: $nav_width_1200;
        margin-top: 11px;
    }
    .a_d_activeName{
        @include lh(45px);
        box-sizing: border-box;
        background-color: $background_F5F5F5;
        color: #333;
        padding-left: 40px;
        font-size: 18px;
        border-bottom: 2px solid $color_CF2027;
    }
    .a_d_active_introduce{
        padding: 15px 35px;
        background-color: #fff;
        .a_d_active{
            width: 850px;
        }
        .a_d_list{
            margin-left: 10px;
            color: #000;
            font-size: 14px;
            li{
                //@include lh(25px);
                line-height: 25px;
            }
            li:first-child{
                color: #CC0000;
            }
        }
        .a_d_apply{
            margin-top: 20px;
            .ant-btn{
                padding: 6px 20px;
            }
            .a_d_residue_number{
                @include lh(28px);
            }
        }
        .a_d_explain{
            margin-top: 15px;
            .a_d_explain_text{
                margin: 0 0 2px 10px;
                font-size: 14px;
                color: $color_363636;
            }
            .a_d_table{
                border: 1px solid #ccc;
                padding: 15px 10px;
            }
        }

    }
    .a_d_explain_list{
        border: 1px solid #ccc;
        padding: 15px 10px 15px 20px;
        color: $color_363636;
        font-size: 14px;
        li{
            margin-bottom: 8px;
            &:last-child{
                margin: 0;
            }
        }
        i{
            font-style: normal;
            color: #CC0000;
        }
    }
    .a_d_schedule{
        width: 220px;
        border: 1px solid #ccc;
        color: $color_363636;
        margin: 5px 0 18px;
        padding-bottom: 10px;
        .dissertation{
            margin: 30px 0;
            text-align: center;
        }
        .schedule_title{
            @include lh(35px);
            font-size: 14px;
            color: #333;
            background-color: $background_F5F5F5;
            padding-left: 20px;
            border-bottom: 2px solid $color_CF2027;
        }
        .schedule_list{
            margin:15px 0 0 20px;
            li{
                @include lh(25px);
            }
        }
        .lottery_name{
            li{
                width: 98px;
            }
        }
    }
    .dissertation_active{
        color: $color_363636;
        padding-left: 10px;
        font-size: 14px;
        a{
            text-decoration: underline;
            color: #0088DE;
        }
        li{
            @include lh(25px);
        }
    }
    .no_data{
        text-align: center;
        color: #979797;
    }
}
