@import '../../Style/variables';
@import '../../Style/mixin';

$border-color: #B2B2B2;

.lottery_bet{
    color: #363636;
    font-size: 14px;
    .team_list_top{
        padding: 30px 0 13px 30px;
        border-bottom: 1px solid #ccc;
        .t_l_time{
            padding-bottom: 15px;
            .t_m_date_classify{
                display: inline-block;
                width: 70px;
                text-align: right;
                margin-right: 10px;
            }
            .t_l_time_row{
                @include lh(30px);
                margin-bottom: 12px;
                li{
                    float: left;
                    margin-right: 20px;
                }
            }
            .t_m_line{
                margin: 3px 20px 0 0;
                height: 22px;
                border-left: 1px solid #AFAFAF;
            }
            .t_l_time_btn{
                box-sizing: border-box;
                @include lh(30px);
                li{
                    box-sizing: border-box;
                    @include lh(30px);
                    padding: 0 8px;
                    border:1px solid $border-color;
                    margin-right: 3px;
                    border-radius: 3px;
                    &:hover{
                        cursor: pointer;
                        background-color: #ddd;
                    }
                }
                li:not(:first-child){
                    border-left:1px solid $border-color;
                }
                .t_l_time_btn_active{
                    box-sizing: border-box;
                    height: 30px;
                    border:1px solid $rodio-check-color !important;
                    color:$rodio-check-color;
                    background: #FFF5F5 url('./Img/time_active.png') no-repeat right bottom;
                }
            }
            .t_l_classify{
                @include lh(30px);
                li{
                    float: left;
                    margin-right: 12px;
                    .l_b_acount{

                    }
                    .ant-input{
                        width: 120px;
                    }
                }
                li:last-child{
                    margin: 0;
                }
                .t_l_border{
                    box-sizing: border-box;
                    @include lh(30px);
                    display: inline-block;
                    border: 1px solid $border-color;
                    padding: 0 10px;
                    margin-left: 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: #ddd;
                    }
                }
            }
        }
        .t_m_select_lottery{
            padding: 0 5px 0;
            height: 0;
            overflow: hidden;
            @include transform(height, 0.3s);
            .ant-radio-wrapper{
                margin: 10px 25px 0 0;
                width: 112px;
            }
        }
        .t_m_select_lottery_show{
            height: 112px;
            border-top: 1px dotted #8B8D92;
        }
    }
    .t_l_table{
        padding: 12px 12px 50px;
        .t_l_table_list{
            border: 1px solid #ccc;
            background-color: #fff;
            padding:8px 5px;
        }
        .ant-pagination-options-size-changer{
            margin-right: 0;
        }
    }
    .l_b_tabel_footer{
        text-align: center;
        font-size: 14px;
        span{
            margin: 0 20px;
        }
        strong{
            color: #E90000;
            font-weight: normal;
        }
    }
    // 博饼
    .tabel_footer{
        font-size: 12px;
        li{
            float: left;
            text-align: right;
        }
        li:nth-child(1){
            width: 286px;
            text-align: center;
        }
        li:nth-child(2){
            width: 113px;
        }
        li:nth-child(3){
            width: 115px;
        }
        li:nth-child(4){
            width: 79px;
        }
        li:nth-child(5){
             width: 100px;
        }
        li:nth-child(6){
            width: 113px;
        }
        li:nth-child(7){
            width: 103px;
        }
    }
    // pt
    .pt_footer{
        li{
            float: left;
            width: 135px;
            text-align: right;
        }
        li:nth-child(1){
            width: 573px;
            text-align: center;
        }
    }
}
.pt_record{
    .ant-radio-wrapper{
        width: 180px !important;
    }
}

.t_l_prompt{
    background-color: #bbb;
    padding: 5px;
    @include borderRadius(2px);
}
.t_l_active{
    box-sizing: border-box;
    height: 28px;
    border:1px solid $rodio-check-color !important;
    color: $rodio-check-color;
    background: #FFF5F5 url('./Img/time_active.png') no-repeat right bottom;
}

.g_r_main{
    .a_m_title, .team_list_top{
        background-color: #fff;
    }
    .ant-input{
        height: 30px;
    }
    .ant-select-selection--single{
        height: 30px;
    }
    .ant-select-selection__rendered{
        line-height: 28px;
    }
}

.double_table_modal{
    .modal_username{
        @include lh(40px);
        font-size: 14px;
        span{
            margin-right: 100px;
        }
    }
    .ant-modal-body{
        padding: 0 16px 16px;
    }
    .ant-modal-title{
        text-align: center;
    }
    .modal_table{
        position: relative;
        border: 1px solid #ccc;
        height: 445px;
        padding: 8px 5px;
    }
    .historyTfoot_list{
        position: absolute;
        bottom: 0;
        background-color: #f7f7f7;
        color: $color_363636;
        li{
            float: left;
            @include lh(45px);
            text-align: right;
        }
        li:nth-child(1){
            width: 360px;
            text-align: center;
        }
        li:nth-child(2){
            width: 68px;
        }
        li:nth-child(3),li:nth-child(4),li:nth-child(5){
            width: 80px;
        }
        li:nth-child(6){
            width: 90px;
            text-align: center;
        }
        li:nth-child(7){
            width: 102px;
        }
        li:nth-child(8){
            width: 93px;
        }
        li:nth-child(9){
            width: 98px;
            padding-right: 16px;
        }
    }
    /*日亏损佣金-查看详情footer*/
    .modalFooter{
        position: absolute;
        bottom: 0;
        background-color: #f7f7f7;
        li{
            float: left;
            text-align: right;
            width: 107px;
            padding: 0 8px;
            @include lh(45px);
        }
        li:first-child{
            width: 220px;
            text-align: center;
        }
    }
    /*分红-历史分红footer*/
    .dividend_modal_Footer{
        position: absolute;
        bottom: 0;
        background-color: #f7f7f7;
        li{
            float: left;
            @include lh(45px);
            text-align: center;
            width: 378px;
        }
    }
}
