@import '../../Style/variables';
@import '../../Style/mixin';

.financing_c_main{
    .mention_filling_record{
        font-size: 14px;
        .team_list_top{
            padding: 30px 30px 13px;
            border-bottom: 1px solid #ccc;
            background-color: #fff;
            .t_l_time{
                padding-bottom: 15px;
                .t_m_date_mar{
                    margin: 0 8px;
                }
                .t_l_time_row{
                    @include lh(30px);
                    margin-bottom: 12px;
                    li{
                        float: left;
                    }
                }
                .t_l_classify{
                    @include lh(30px);
                    li{
                        float: left;
                        margin-right: 15px;
                        .ant-input{
                            width: 120px;
                        }
                        &:first-child{
                            .ant-btn{
                                @include borderRadius(0);
                            }
                        }
                    }
                    li:last-child{
                        margin: 0;
                    }
                    .t_l_border{
                        box-sizing: border-box;
                        @include lh(30px);
                        display: inline-block;
                        border: 1px solid $border-color;
                        padding: 0 10px;
                        margin-left: 8px;
                        &:hover{
                            cursor: pointer;
                            background-color: #ddd;
                        }
                    }
                    .t_m_serch{
                        height: 30px;
                        margin-left: 5px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .t_l_table{
            padding: 12px 12px 50px;
            .t_l_table_list{
                border: 1px solid #ccc;
                background-color: #fff;
                padding:8px  5px;
            }
            .t_l_page{
                float: right;
                margin-top: 8px;
            }
            .ant-pagination-options-size-changer{
                margin-right: 0;
            }
        }
        .mention_filling_record_footer{
            text-align: center;
            font-size: 14px;
            span{
                margin-right: 40px;
            }
            span:last-child{
                margin-right: 0;
            }
            strong{
                font-weight: normal;
            }
        }
    }
    .ant-input-number-handler-wrap{
        display: none;
    }
}
