@import '../../../Style/variables';
@import '../../../Style/mixin';

.b_cm_main{
    .w_m_nopassword{
        font-size: 14px;
        text-align: center;
        margin-top: 200px;
        span{
            color: rgb(3, 9, 255);
            text-decoration: underline;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .b_cm_text_explain{
        padding: 15px 25px;
        color: $color_363636;
        background-color: #fff;
        font-size: 14px;
        border-bottom: 1px solid #D6D6D6;
        p{
            @include lh(30px);
        }
        i{
            font-style: normal;
            color: $color_CF2027;
        }
    }
    .b_cm_table{
        border: 1px solid #ccc;
        margin: 20px 10px;
        padding: 15px;
        background-color: #fff;
    }

    .b_cm_btn{
        @include cl;
    }
    .vertical-center-modal {
        text-align: center;
        white-space: nowrap;
    }
}
.a_aa_main{
    background-color: #fff;
    font-size: 14px;
    .a_aa_form{
        @include wh(825px,428px);
        //border: 1px solid #ccc;
        margin: 0 auto;
        padding: 20px 60px;
        //background-color: #F9F9F9;
    }
    .a_aa_list{
        li{
            margin-bottom: 10px;
        }
        li:nth-child(1), li:nth-child(2){
            position: relative;
        }
        .a_aa_left_text{
            display: inline-block;
            width: 110px;
            text-align: right;
            margin-right: 8px;
            color: $color_363636;
        }
        .a_aa_right_text{
            display: inline-block;
            width: 291px;
            font-size: 14px;
            color: #999;

        }
        .ant-select{
            margin-right: 10px;
        }
        .ant-input-lg,.ant-select-lg .ant-select-selection--single {
            height: 36px;
        }
        .ant-select-lg .ant-select-selection__rendered {
            line-height: 34px;
        }
        .ant-input{
            margin-right: 10px;
        }
    }
    .a_aa_btn{
        @include wh(160px, 36px);
        margin: 10px 0 0 118px;
    }

}
