@import '../../../Style/variables';
@import '../../../Style/mixin';

$border_color: #C8C8C8;
$width_110px: 110px;
.withdraw_main{
    font-size: 14px;
    .w_m_nopassword{
        text-align: center;
        margin-top: 200px;
        span{
            color: rgb(3, 9, 255);
            text-decoration: underline;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .tr_m_text{
        width: 300px;
        border: 1px dotted #C7C6C4;
        background-color: #FEFCF2;
        margin: 10px 0 0 128px;
        padding: 2px 9px;
        color:#474646;
        h4{
            font-size: 14px;
            color: #474646;
        }
        i{
            font-style: normal;
            color: #00C192;
            font-size: 16px;
        }
        em{
            font-style: normal;
            color: #CE2424;
            font-size: 16px;
        }
    }

    .r_m_list{
        margin: 20px 0 0 50px;
        color: #1B1B21;
        .back_list{
            display: inline-block;
            width: 860px;
            li{
                float: left;
                margin: 0 8px 8px 0;
                &>div{
                    border: 1px solid $border-color;
                }
            }
        }
        .fAvailableBalance{
            color: #E10000;
            font-size: 18px;
        }
        .bank_v_top{
            vertical-align: top;
        }
        .r_m_qq_controler{
            padding-right: 10px;
            background-color: #fff;
            img{
                vertical-align: middle;
            }
            .r_m_qq{
                color: #606060;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .r_m_active{
            border: 1px solid $rodio-check-color !important;
            background: #fff url(./Img/time_active.png) no-repeat bottom right !important;
        }
        .span_margin{
            margin: 0 15px 0 3px;
        }
        .r_m_recharge_text{
            padding-left: 20px;
            background: url(./Img/plaint_icon.png) no-repeat center left;
            color: #8C8C8C;
            strong{
                color: #CB1313;
                font-weight: normal;
            }
        }
        .r_m_li_w{
            display: inline-block;
            width: $width_110px;
            text-align: right;
            margin-right: 15px;
        }
        .ant-input-number{
            width: 294px;
        }
        &>li{
            margin-bottom: 15px;
        }
        .r_m_primary_btn{
            padding-top: 10px;
        }
        .r_m_dx{
            margin: 10px 0 0 128px;
        }
    }
}

