$border_color: #C8C8C8;
.contract_main{
    margin:20px 34px 0;
    padding-bottom: 34px;
    .c_top>li{
        margin-right: 10px;
        border: 1px solid $border_color;
        float: left;
        background: #fff;
        text-align: center;
    }
    .c_top>li:last-child{
        margin-right: 0px;
        background: #ffeeee;
        color: #a30404;
        border: 1px solid #f7cccc;
        font-size: 15px;
    }

    .c_title{
        line-height: 53px;
        height: 53px;
        background: #f8f7f4;
        font-size: 16px;
        font-weight: 600;
        border-bottom:1px solid $border_color;
        img{
            margin-bottom: -6px;
            margin-right: 5px;
        }
    }

    .c_salary{
        width: 520px;
        height: 250px;
        ul{
            height: 65px;
            border-bottom: 1px solid $border_color;
            text-align: end;
        }
        ul:last-child{
            border-bottom:none;
        }
        li{
            height: 65px;
            width: 259px;
            padding-top: 28px;
            padding-right: 34px;
            display: inline-block;
            font-size: 22px;
        }



    }
    .c_table1{
        li:nth-child(1){

            background:  url(./Img/table1.png) no-repeat center;
            border-right: 1px solid $border_color;
        }
        li:nth-child(2){
            background:  url(./Img/table2.png) no-repeat center;
        }
    }
    .c_table2{
        li:nth-child(1){
            background:  url(./Img/table3.png) no-repeat center;
            border-right: 1px solid $border_color;
        }
        li:nth-child(2){
            background:  url(./Img/table4.png) no-repeat center;
        }
    }
    .c_table3{
        li:nth-child(1){
            background:  url(./Img/table5.png) no-repeat center;
            border-right: 1px solid $border_color;
        }
        li:nth-child(2){
            background:  url(./Img/table6.png) no-repeat center;
        }
    }
    .c_table_wrap{
        display: table;
        width: 100%;
        height: 197px;
        div{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .c_txt{
        font-size: 20px;
    }
    .c_portion{
        width: 205px;
        height: 250px;
    }
    .c_award{
        width: 205px;
        height: 250px;
    }
    .c_setContract{
        width: 115px;
        height: 250px;
        display: table;
        cursor: pointer;
        div{
            display: table-cell;
            vertical-align: middle;
        }
    }

    .c-info{
        float: right;
        margin-top: 20px;
        margin-right: 10px;
    }
    .c_table{
        clear: both;
        padding-top: 22px;
        .ant-table-thead{
            th{
                background: #fff;
                &>span{
                    border-right: none;
                }
            }
        }
    }



}

.ant-tooltip-inner{
    max-width: 540px;
    height: 314px;
    font-size: 14px;
    background-color:rgba(0,0,0,0.8);
    padding: 8px 21px;
    .c_info_wrap{
        p{
            line-height: 25px;
        }
    }
    .c_info_title{
        margin-top: 10px;
        color: #ffdb70;
        text-align: center;
        font-size: 16px;
    }
    .c_i_title1{
        margin-top: 10px;
        color: #ffdb70;

    }
    .c_i_title2{
        color: #ffdb70;

    }
}
