@import '../../../Style/variables';
@import '../../../Style/mixin';

.recharge_main{
    font-size: 14px;
    .r_m_select_list{
        .r_m_select_list_active{
            @include borderRadius(19px);
            background-color: $color_CF2027;
            color: #fff;
        }
        margin: 30px;
        @include wh(535px, 40px);
        line-height: 39px;
        background-color: #fff;
        border: 1px solid #ddd;
        @include borderRadius(20px);
        li{
            float:left;
            padding: 0 30px;
            color: $color_363636;
            &:hover{
                cursor: pointer;
                @extend .r_m_select_list_active;
            }
        }
    }

}
