@import '../../../../../Style/variables';
@import '../../../../../Style/mixin';

.promptly_recharge{
    font-size: 14px;
    .p_r_list{
        margin-left: 50px;
        li{
            position: relative;
            margin-bottom: 6px;
        }
        .gathering_bank{
            display: inline-block;
            @include wh(330px, 44px);
            line-height: 44px;
            border: 1px solid #C8C8C8;
            background-color: #fff;
            @include borderRadius(3px);
            padding: 0 8px;
        }
        .p_r_text{
            display: inline-block;
            width: 130px;
            text-align: right;
            margin-right: 8px;
            vertical-align: top;
            margin-top: 10px;
        }
        .blank_text{
            background: $color_CF2027;
            color: #fff;
            display: inline-block;
            width: 150px;
            text-align: center;
            height: 35px;
            line-height: 35px;
            border-radius: 3px;
            margin: 40px 0 0;
        }
        .btn_p{
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }
    .p_r_explain{
        width: 400px;
        margin-right: 50px;
        .count_down{
            height: 40px;
            border-bottom: 1px dotted #C8C8C8;
            margin-bottom: 20px;
        }
        .p_r_e_text{
            i{
                font-style: normal;
                color: $color_CF2027;
            }
        }
    }
}
