@import '../../../Style/variables';
@import '../../../Style/mixin';

.mention_filling_record{
    .team_list_top{
        padding: 30px 30px 13px;
        border-bottom: 1px solid #ccc;
        .t_l_time{
            padding-bottom: 15px;
            .t_m_date_classify{
                display: inline-block;
                width: 70px;
                text-align: right;
                margin-right: 8px;
            }
            .t_l_time_row{
                @include lh(30px);
                margin-bottom: 12px;
                li{
                    float: left;
                }
            }
            .t_l_classify{
                @include lh(30px);
                li{
                    float: left;
                    margin-right: 30px;
                    .ant-input{
                        width: 120px;
                    }
                    &:first-child{
                        .ant-btn{
                            @include borderRadius(0);
                        }
                    }
                }
                li:last-child{
                    margin: 0;
                }
                .t_l_border{
                    box-sizing: border-box;
                    @include lh(30px);
                    display: inline-block;
                    border: 1px solid $border-color;
                    padding: 0 10px;
                    margin-left: 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: #ddd;
                    }
                }
                .t_m_serch{
                    height: 30px;
                    margin-left: 5px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .t_l_table{
        background-color: #F4F4F4;
        padding: 10px 12px 50px;
        .t_l_table_list{
            border: 1px solid #ccc;
            background-color: #fff;
            padding:8px  5px;
        }
        .t_l_page{
            float: right;
            margin-top: 8px;
        }
        .ant-pagination-options-size-changer{
            margin-right: 0;
        }
    }
    .mention_filling_record_footer{
        text-align: center;
        span:first-child{
            margin-right: 40px;
        }
        strong{
            font-weight: normal;
        }
    }
}
