@import '../../../../Style/variables';
@import '../../../../Style/mixin';

.affirm_withdraw{
    font-size: 14px;
    .r_m_list{
        color: #1B1B21;
        width: 440px;
        margin: 60px auto 0;
        .r_m_li_w{
            display: inline-block;
            width: 135px;
            text-align: right;
            margin-right: 15px;
        }
        .ant-input-number{
            width: 200px;
        }
        &>li{
            margin-bottom: 20px;
        }
        .r_m_primary_btn{
            padding-top: 10px;
        }
        .ant-input{
            width: 150px;
        }
        .a_m_password{
            color:#0060EF;
            text-decoration: underline;
            font-size: 12px;
            margin-left: 10px;
        }
    }
}
