@import '../../../Style/variables';
@import '../../../Style/mixin';

.dividend_main{
    color: $color_363636;
    .team_list_top{
        padding: 30px 30px 13px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        .t_l_time{
            padding-bottom: 10px;
            .t_m_date_classify{
                display: inline-block;
                width: 70px;
                text-align: right;
            }
            .t_l_time_row{
                @include lh(30px);
                margin-bottom: 12px;
                .ant-input{
                    width: 150px;
                }
                li{
                    float: left;
                    margin-right: 30px;
                }
            }
        }
    }
    .t_l_table{
        background-color: #F4F4F4;
        padding: 0 12px 50px;
        .t_l_location_name{
            @include lh(50px);
            .t_l_goBack{
                margin-right: 5px;
            }
        }
        .t_l_table_list{
            border: 1px solid #ccc;
            background-color: #fff;
            padding:8px 5px;
        }
        .t_l_page{
            margin-top: 8px;
        }
    }
    .ant-table-thead > tr > th, .ant-table-footer{
        background-color: #F8F7F4;
        padding: 11px 8px;
    }
    .table_list{
        .ant-table-tbody{
            line-height: 28px;
        }
    }
    .footer{
        line-height: 28px;
        li{
            float: left;
            text-align: right;
        }
        li:first-child{
            width: 189px;
            text-align: center;
        }
        li:nth-child(2){
            width: 109px;
        }
        li:nth-child(3),li:nth-child(4),li:nth-child(5){
            width: 116px;
        }
        li:nth-child(6),li:nth-child(7){
            width: 105px;
        }
        li:nth-child(8){
            text-align: center;
            width: 252px;
            padding-left: 9px;
        }
    }
    .ant-table-footer{
        padding: 11px 0 !important;
    }
}

.history_dividend_modal{
    .modal_username{
        @include lh(40px);
        font-size: 14px;
    }
    .ant-modal-body{
        padding: 0 16px 16px;
    }
    .ant-modal-title{
        text-align: center;
    }
    .modal_table{
        position: relative;
        border: 1px solid #ccc;
        height: 345px;
        padding: 8px 5px;
    }
    .dividendFooter{
        position: absolute;
        bottom: 0;
        background-color: #f7f7f7;
        li{
            float: left;
            @include lh(45px);
            text-align: center;
            width: 378px;
        }
    }
}


