@import '../../Style/variables';
@import '../../Style/mixin';

header {
    @include wh(100%, 140px);
}

.berCenter_bg{
    background: $main_bg;
    .main{
        width: $nav_width_1200;
        min-height: 700px;
        margin: 0 auto 20px;
    }
}
