@import '../../Style/variables';
@import '../../Style/mixin';

.helpInfo_main{
    width: $nav_width_1200;
    margin: 0 auto;
    .a_m_controler{
        min-height: 703px;
    }
    .leftHelp{
        width: 182px;
        float: left;
        background-color: #fff;
        border: 1px solid #cf2027;
        .a_m_title{
            width: 100%;
            text-align: center;
            font-size: 16px;
            color: #333;
            font-weight: bold;
            background: #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
            line-height: 50px;
            height: 50px;
            padding: 0;
        }
        .c_nav{
            width: 100%;
            min-height: 650px;
            clear: both;
            float: left;
            text-align: center;
            background-color: #fff;
            padding-left: 0;
            border: 0;
        }
        .hvr-overline-from-left:before{
            background:none;
        }
        .nav_list li{
            border-bottom: 1px solid #E5E5E5;
            float: none;
            &:hover{
                border-left: 2px solid $color_CF2027;
                cursor: pointer;
            }
            &:hover a{
                color: #fff;
            }
            a{
                color: #363636;
            }
            &:nth-child(1) a{
                background: url(./Img/deposit_active.png) no-repeat left center;
            }
            &:nth-child(2) a{
                background: url(./Img/introduce_active.png) no-repeat left center;
            }
            &:nth-child(3) a{
                 background: url(./Img/help_active.png) no-repeat left center;
             }
            &:nth-child(4) a{
                background: url(./Img/about_active.png) no-repeat left center;
            }
            &:nth-child(1).nav_active a,&:nth-child(1) a:hover{
                background: url(./Img/deposit.png) no-repeat left center;
            }
            &:nth-child(2).nav_active a,&:nth-child(2) a:hover{
                background: url(./Img/introduce.png) no-repeat left center;
            }
            &:nth-child(3).nav_active a,&:nth-child(3) a:hover{
                background: url(./Img/help.png) no-repeat left center;
            }
            &:nth-child(4).nav_active a,&:nth-child(4) a:hover{
                background: url(./Img/about.png) no-repeat left center;
            }
        }
        .hvr-fade{
            display: block;
        }
        .c_nav .nav_list .nav_active{
            background: #cf2027;
            color: #fff;
            border-top: none;
            border-left: 2px solid $color_CF2027;
            a{
                color: #fff;
            }
        }
    }
}
