@import '../../../../Style/variables';
@import '../../../../Style/mixin';

.modal_content{
    .ant-modal-header{
        padding: 0;
    }
    .ant-modal-body{
        background-color: #F1F1F1;
    }
    .ant-modal-close{
        color: #fff;
    }
    .modal_main{
        .m_m_content{
            margin: 20px 0;
            font-size: 14px;
            color: $color_363636;

            .modal_periods{
                .m_p_text{
                    margin: 0 10px 0 20px;
                    @include lh(28px);
                }
                .m_periods_list{
                    li{
                        float: left;
                        border: 1px solid #B2B2B2;
                        @include wh(42px, 28px);
                        line-height: 26px;
                        margin-right: 5px;
                        text-align: center;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .m_periods_active{
                        background: #FFF5F5 url(./Img/time_active.png) no-repeat bottom right;
                        border: 1px solid $rodio-check-color;
                        color: $rodio-check-color;
                    }
                }
            }
            .periods_input, .multiple_input{
                margin-left: 20px;
                &>span{
                    margin: 0 8px;
                }
            }
            .m_m_btn{
                margin-left: 20px;
                height: 30px;
            }
            .ant-input-number{
                @include borderRadius(0);
            }
        }
        .m_m_table{
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 8px;
            .ant-input-number{
                @include borderRadius(0);
                width: 70px;
            }
        }
        .m_m_footer{
            margin-top: 15px;
            @include lh(37px);
            color: $color_363636;
            .m_m_left_btn{
                .ant-btn-primary{
                    background-color: #4D4D4D;
                    border-color: #4D4D4D;
                }
                .ant-btn-primary:hover,
                .ant-btn-primary:focus {
                    color: #fff;
                    background-color: #676767;
                    border-color: #676767;
                }
                .ant-btn-clicked:after {
                    border: 0 solid #4F4F4F;
                }
                .ant-btn-danger.ant-btn-clicked:after {
                    border-color: #4F4F4F;
                }
            }
            .m_m_footer_info{
                font-size: 14px;
                li{
                    float: left;
                    em{
                        font-style: normal;
                        color: #BD0000;
                    }
                    &:last-child{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

