@import '../../../Style/variables';
@import '../../../Style/mixin';

.bet_record_table{
    margin-bottom: 20px;
    .b_r_top{
        @include lh(35px);
        @include sc(14px,#fff);
        text-align: center;
        background: #f5f5f5;
        color:$color_CF2027;
    }
    .ant-table-tbody{
        tr:nth-child(2n){
            background-color: #ffffff;
        }
    }
    .ant-table-header{
        padding: 3px 0 0 0 !important;
        border: none;
    }
    .ant-table table{
        border: none;
        border-collapse:collapse;
        height: 50px;
    }
    .ant-table-small .ant-table-thead > tr > th:not(.ant-table-selection-column){
        padding: 4px 0 5px 0 !important;
        background-color: #ffffff;
    }
    .buyAgain,.canclebet{
        cursor: pointer;
    }
    .ant-btn-primary{
        background: none;
        border: none;
        color: #333;
    }
    .ant-btn-primary:hover, .ant-btn-primary:focus{
        color: #333;
    }
    .ant-table-small .ant-table-tbody > tr > td{
        padding: 6px 0;
        text-align: center;
    }
    .buyAgain{
        padding:1px 2px;
    }
}

