@import '../../../Style/variables';
@import '../../../Style/mixin';

.right_sider{
    margin: $content-top 0 10px 0;
    float: right;
}
.user_info{
    width:210px;
    border: 1px solid $color_CF2027;
    background-color: #fff;
    color:#333;
    padding: 8px 15px 7px 15px;
    margin-bottom: 10px;
    .user_info_list{
        color: #333;
        font-size: 12px;
        li{
            margin-bottom: 5px;
        }
        .user_money{
            font-size: 14px;
            height: 18px;
            span{
                margin-right: 8px;
            }
            .update_money{
                @include bis('./Img/update_money.png');
                @include wh(16px,16px);
                float: left;
                margin-top: 2px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .user_recharge{
            @include wh(172px, 30px);
            @include red_gradient;
            line-height: 30px;
            text-align: center;
            margin:0 auto;
            color:#fff;
            &:hover{
                cursor: pointer;
            }
        }
        .user_withdrawal_transfer{
            span{
                display: inline-block;
                text-align: center;
                @include bis('./Img/zz_tk_bg.png');
                @include wh(90px, 40px);
                line-height: 40px;

            }
            .withdrawal, .transfer{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.history_period{
    background-color: #fff;
    padding-bottom: 24px;
    border: 1px solid #dddddd;
    width: 210px;
    .thead_title{
        background-color: #f5f5f5;
        border-bottom: 1px solid #dddddd;
        font-size: 14px;
        color: #333;
        @include lh(35px);
        li{
            float:left;
            text-align: center;
            font-size: 12px;
        }
    }
    .mmc_title{
        li{
           width:100% !important;
        }
    }
    $ball_r: 16px;
    .right_ball_number_style{
        @include wh($ball_r, $ball_r);
        @include borderRadius($ball_r/2);
        line-height: $ball_r;
    }
    .tbody_title{
        position: relative;
        @include lh(35px);
        border-bottom: 1px dotted #C9C9C9;
        li{
            float:left;
            text-align: center;
        }
        .banker,.player,.tie{
            width: 20px;
            height: 20px;
            line-height: 18px;
            background: #fff;
            border-radius: 50%;
            margin-top: 7px;
            margin-left: 16px;
            
        }
        .banker{
            border:1px solid $color_CF2027;
            color:$color_CF2027;
        }
        .player{
            border:1px solid #154cb0;
            color:#154cb0;
        }
        .tie{
            border: 1px solid #4db923;
            color: #4db923;
        }
        .right_ball_number{
            margin-top: 8px;
            li.selected{
                color:$color_CF2027;
                @extend .right_ball_number_style;
                margin-right: 1px;
            }
            li.morelength{
                width: 18px;
                height: 18px;
                line-height: 18px;
                border-radius: 9px;
            }
            li.morepklength{
                width: 18px;
                height: 18px;
                line-height: 18px;
                border-radius: 50%;
                margin-top: 1px;
            }
            li{
                @extend .right_ball_number_style;
                color:#333;
            }
        }
    }
    .mmc_tbody_title>li{
        width:100%!important;
        .right_ball_number{
            float: left;
            margin-left: 50px;
            li{
                margin: 3px;
            }
        }
    }
    .r_sider_more{
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        color: #505050;
        text-decoration: underline;
        &:hover{
            cursor: pointer;
        }
    }
}

