@import '../../Style/variables';
@import '../../Style/mixin';

.otherGames_main{
    margin-bottom: 15px;
    .activity_list{
        li{
            position: relative;
            float: left;
            margin-top: 11px;
            border: 1px solid #ddd;
            img{
                width: 540px;
                vertical-align: middle;
            }
            &:nth-child(2n+1){
                margin-right: 15px;
            }
            .activity_apply{
                position: absolute;
                top: 0;
                left: 0;
                width: 87px;
            }
        }
        .activity_participation{
            background-color: #fff;
            padding: 12px;
            p{
                color: $color_363636;
                font-size: 18px;
            }
            i{
                font-style: normal;
                color: #999999;
                font-size: 12px;
            }
            .active_bonus{
                font-size: 12px;
                color:#FF0000;
                margin-left: 15px;
            }
        }
    }
    .active_pagination{
        margin-top: 15px;
        float: right;
    }
}
