@import '../../Style/variables';
@import '../../Style/mixin';

.otherGames_main {
    padding-bottom: 15px;
    transition: background-color .5s;
    .activity_list {
        li {
            position: relative;
            float: left;
            margin-top: 10px;
            border: 1px solid #ddd;
            background: #eee;
            img {
                width: 580px;
                vertical-align: middle;
            }
            &:nth-child(2n+1) {
                margin-right: 8px;
            }
        }
        .activity_participation {
            background-color: #fff;
            padding: 12px;
            p {
                color: $color_363636;
                font-size: 18px;
            }
            .active_bonus {
                font-size: 12px;
                color: $color_CF2027;
            }
        }
    }
}

.otherGames_main.theme-white {
    background-color: $main_bg;
}

.otherGames_main.theme-gray {
    background-color: $main_bg_gray;
}

.otherGames_main.theme-black {
    background-color: $main_bg_black;
}


