@import '../../../Style/variables';
@import '../../../Style/mixin';

$width_110px: 110px;
$border_color: #C8C8C8;
.security_main{
    .w_m_nopassword{
        font-size: 14px;
        span{
            color: rgb(3, 9, 255);
            text-decoration: underline;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .s_m_select_list{
        margin: 15px 0;
        li.s_m_select_list_active:nth-child(1){
            background:$color_CF2027 url(./Img/lock_active.png) no-repeat center 24%;
            color: #fff;
        }
        li.s_m_select_list_active:nth-child(2){
            background:$color_CF2027 url(./Img/setting_active.png) no-repeat center 24%;
            color: #fff;
        }
        li.s_m_select_list_active:nth-child(3){
            background:$color_CF2027 url(./Img/mail_active.png) no-repeat center 24%;
            color: #fff;
        }
        li.s_m_select_list_active:nth-child(4){
            background:$color_CF2027 url(./Img/watch_active.png) no-repeat center 24%;
            color: #fff;
        }
        li.s_m_select_list_active:nth-child(5){
            background:$color_CF2027 url(./Img/security_active.png) no-repeat center 24%;
            color: #fff;
        }

        li{
            float:left;
            width:194px;
            padding-top: 55px;
            padding-bottom: 15px;
            color: $color_363636;
            background-color: #f2f0f0;
            text-align: center;
            border-radius: 4px;
            font-size:15px;
            margin-left: 11px;
            border:1px solid #C8C8C8;
            &:hover{
                cursor: pointer;
                @extend .s_m_select_list_active;
            }
        }
        li:nth-child(1){
            background: url(./Img/lock.png) no-repeat center 24%;
        }
        li:nth-child(2){
            background: url(./Img/setting.png) no-repeat center 24%;
        }
        li:nth-child(3){
            background: url(./Img/mail.png) no-repeat center 24%;
        }
        li:nth-child(4){
            background: url(./Img/watch.png) no-repeat center 24%;
        }
        li:nth-child(5){
            background: url(./Img/security.png) no-repeat center 24%;
        }
    }
    .sec_k_main{
        color: $color_363636;
        border-top: solid 1px #C8C8C8;
        height: 481px;
        .sec_k_list{
            width: 545px;
            margin: 0 auto;
            li{
                margin-bottom: 10px;
                font-size: 14px;
            }
            li:first-child{
                margin-top: 30px;
            }
            .forget_m_pwd{
                padding-left: 10px;
                color: #0099FF;
                text-decoration: underline;
            }
            .s_advice{
                color:$dotted-color;
                margin: 30px 0;
            }
            .inputText{
                color:#333333;
                margin-left: 12px;
                strong{
                    font-weight: normal;
                    color:#D70000;
                }
            }

        }
        .sec_m_btn{
            width: 127px;
        }
        .sec_k_left{
            display: inline-block;
            width: 115px;
            text-align: left;
        }
        .ant-input {
            width: 320px;
            color:#333333;
        }

    }
    .s_m_primary_btn{
        margin-top: 20px;
    }
    .ant-select-selection--single{
        height: 34px;
        color: #333333;
    }
    .ant-select-selection__rendered{
        line-height: 32px;
    }
}





