$c_color:#7f6b37;
.ant-select-dropdown-menu{
    margin-left: 0 !important;
}
.ant-select-dropdown-menu li:nth-child(1){
    margin-left: 0 !important;
}
.ant-select-dropdown-menu-item{
    margin-top: 0 !important;
}

@mixin c_sel {
    color:$c_color;
    background: none;
    border: 0;
    border-bottom: 1px solid $c_color;
    border-radius: 0;
}

.center-modal-c {
    text-align: center;
    white-space: nowrap;
    .ant-modal-content{
        width: 560px;
        height: 343px;
        background: url(./Img/contracy_modal.png) no-repeat center left;
    }
    .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
        box-shadow:none;
    }
    .c_m_guanbi{
        position: absolute;
        top:0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .c_aa_form{
        margin-top: 160px;
        .c_aa_list{
            width: 370px;
            margin: 0 auto;
            li{
                margin-bottom: 10px;
            }
        }
        .c_aa_left_text{
            width: 70px;
            text-align: right;
            color:$c_color;
            display: inline-block;
            font-size: 14px;
        }
        .ant-select-selection{
            @include c_sel
        }

    }

}
@mixin c-modal-before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}
@mixin c-ant-modal{
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}
.center-modal-c:before {
    @include c-modal-before
}

.center-modal-c .ant-modal {
    @include c-ant-modal
}

