@charset "utf-8";
/* CSS layout */

/* 默认样式 */
html{ min-width: 1200px; }
body,div,ul,li,span,img,input,form{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd{ margin:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
ul,ol{padding:0;}

body{ font-size:12px;font-family:"微软雅黑",Arial,sans-serif; min-width: 1200px;padding:0 !important; overflow: scroll !important; overflow-x: hidden ;
}
a{ text-decoration:none; color:#666666; }
li{ list-style:none; }
img{ border:none 0;}
input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }
input,textarea{ padding:0;}

