$nav_width_1200: 1172px;
$nav_width_1040: 1040px;
$content-top: 11px;
$main_bg: #fff; // 全局背景颜色
$main_bg_gray: #ccc; // 全局背景颜色
$main_bg_black: #333; // 全局背景颜色

$nav-background: #ccc;
$nav-background-color: #1B1B21; // header_nav，footer背景色
$h_f_background: #F7F7F7; // header_nav，footer背景色
$rodio-check-color: #CB1313;
$background-color: #4A4A5F;
$color_363636: #363636;
$color_CF2027: #CF2027;
$backgourn-color: #fefefe;
$background-color-F4F4F4: #F4F4F4;
$border-bottom-color: #D6D6D6;
$border-color: #B2B2B2;
$dotted-color: #85888D;
$color_0088DE: #0088DE;
$modal_background: #F1F1F1;

$border_color: #E5E5E5;
$background_F5F5F5: #F5F5F5;
$hover_background: #F59191;


