$nav_width_1200: 1200px;
$content-top: 11px;
$main_bg: #c4cecc;

$nav-background: #ccc;
$nav-background-color: #1B1B21; // header_nav，footer背景色
$rodio-check-color: #CB1313;
$background-color: #4A4A5F;
$color_363636: #363636;
$color_CF2027: #CF2027;
$background-color-F4F4F4: #F4F4F4;
$border-bottom-color: #D6D6D6;
$border-color: #B2B2B2;
$dotted-color: #85888D;
$color_0088DE: #0088DE;
$modal_background: #F1F1F1;


