@import '../../../Style/variables';
@import '../../../Style/mixin';
$border_color: #C8C8C8;
.sport{
    height: 880px;
    background: url('./Img/sport_bg.jpg') no-repeat center center;
    text-align: center;
    .sport_content{
        width: 300px;
        margin: 0 auto;
        padding-top: 500px;
    }
    .sport_transfer{
        margin-right: 20px;
    }
    .sport_remain{
        color: #F9F229;
        font-size: 28px;
        margin-bottom: 20px;
    }
}
.ea_content {
    .ant-input {
        width: 260px;
        padding: 6px 7px;
    }
    .info_list {
        width: 350px;
        margin: 0 auto;
        & > li {
            height: 60px;
            font-size: 14px;
            span {
                display: inline-block;
                width: 70px;
            }
            p {
                margin-left: 70px;
            }
        }
    }
    .btn {
        text-align: center;
        margin-top: 15px;
        .ant-btn {
            padding: 5px 30px;
        }
    }
}


