@import '../../../Style/variables';
@import '../../../Style/mixin';


$nav-height: 60px;
$menus-top: 25px;
$hover-color: #FFDB70;
$width_100: 100%;

.header_main{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    .nav{
        position: relative;
        @include wh($width_100, $nav-height);
        //@include boxS(0, 2px, 5px, 0, #666, null);
        background: #CA2124;
        @include gradient(0, 0, 0, bottom, #F92626, #CA2124);
        .nav-content{
            width: $nav_width_1200;
            margin: 0 auto;
            .menus {
                position: relative;
                float: right;
                font-size: 14px;
                .nav_list{

                    li{
                        float: left;
                        color: #fff;
                        @include lh(60px);
                    }
                    p{
                        display: inline-block;
                        padding: 0 20px;
                        height: 30px;
                        line-height: 30px;
                        margin-top: 15px;
                    }
                    .border_style{
                        display: inline-block;
                        @include wh(1px, 30px);
                        @include borderGradient(#EC2324, #fff, #CC2024);
                        margin-top: 15px;
                    }
                    .hover_lottery{
                        position: relative;
                        //border-bottom: 1px solid $color_CF2027;
                        &:before{
                            @include icon_arrows_bg(55px,42px,$color_CF2027,10px,#fff,-45deg);
                        }
                    }
                    li:hover{
                        cursor: pointer;
                        color: $color_CF2027;
                        background: $hover_background;
                    }
                    .nav_active{
                        color: $color_CF2027;
                        background: #fff;
                    }
                }
            }
        }

        .t_m_select_lottery{
            height: 0;
            overflow: hidden;
            background: rgba(255,255,255, .9);
            @include transform(height, 0.3s);
        }
        .t_m_select_lottery_show{
            height: 230px;
            border-top: 1px dotted #8B8D92;
            @include boxS(0, 3px, 2px, 0, #C19C9C, null);
        }
        .lottery_type_list{
            width: 850px;
            margin: 15px auto;
        }
        .lottery_type{
            float: left;
            margin-right: 25px;
            font-size: 14px;
            p{
                @include lh(30px);
                color: $color_CF2027;
                text-align: left;
            }
            .lottery_list{
                float: left;
                li{
                    position: relative;
                    @include lh(30px);
                    width: 120px;
                    padding-right: 20px;
                    color: $color_363636;
                }
                li:hover{
                    cursor: pointer;
                    color: $color_CF2027;
                }
                .h_n_icon{
                    margin-left: 8px;
                }
                .disabled_style{
                    color: #707070;
                    &:hover{
                        color: #707070;
                    }
                }
            }

        }





        .nav-text{
            height: ($nav-height)-3;
            text-align: center;
            p{
                line-height: 17px;
            }
            p:nth-child(2){
                font-size: 10px;
                color: #868686;
            }
            a{
                width: 96px;
                height: ($nav-height)-3;
                padding-top: 23px;
                display: inline-block;
                color: #fff;
                &:hover{
                    p{
                        color: $hover-color;
                    }
                }
            }
        }
        .ant-dropdown-link{
            color: #fff;
        }
        .ant-menu-horizontal{
            border: 0;
        }
        .ant-menu-submenu-horizontal, .ant-menu-submenu{
            .ant-menu{
                background: rgba(27,27,33,.8);
                color: #fff;
            }
        }
        .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            a{
                color:#FFDB70;
            }
        }
    }
    .lottery_name{
        &:hover .lottery_name_type{
            height: 225px;
        }
    }
    .lottery_name_type{
        position: absolute;
        top: 80px;
        left: -728px;
        background-color: #1b1b21;
        height: 0px;
        width: 1200px;
        overflow: hidden;
        @include transform(height, 0.3s);
        &:hover{
            cursor: auto;
        }
        .l_n_list{
            float: left;
            color:#fff;
            padding-top: 20px;
            font-size: 14px;
            margin: 0 40px;
            li{
                padding-right: 12px;
                height: 30px;
                &:hover{
                    cursor: pointer;
                }
            }
            li:first-child{
                color:#E8CB75
            }
        }
        .l_list_h{
            background: url('./Img/nav_h.png') no-repeat right 93%;
         }
        .l_list_n{
            padding-right: 12px;
            background: url('./Img/nav_n.png') no-repeat right 93%;
        }
        .l_list_opa{
            opacity:0.4;
            filter:alpha(opacity=40);
        }
        .l_n_t_p{
            text-align: center;
            //transform: translateX(-50%);
            //margin-left: 55%;
        }
    }
}





