@import '../../../Style/variables';
@import '../../../Style/mixin';


$nav-height: 40px;
$menus-top: 25px;
$hover-color: #FFDB70;
$width_100: 100%;

.header_main{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    .nav{
        position: relative;
        width: $width_100;
        //@include boxS(0, 2px, 5px, 0, #666, null);
        background: #CA2124;
        @include gradient(0, 0, 0, bottom, #F92626, #CA2124);
        .nav-content{
            width: $nav_width_1200;
            margin: 0 auto;
            .nav_list{
                position: relative;
                float: right;
                font-size: 14px;
                &>li{
                    float: left;
                    color: #fff;
                    @include lh(40px);
                    display: inline-block;
                    background: url(./Img/xian.png) no-repeat right center;
                    div{
                        padding: 0 20px;
                        &:hover{
                            cursor: pointer;
                            color: $color_CF2027;
                            background: $hover_background;
                        }
                    }
                }
                .otherGames_down{
                    position: absolute;
                    left: 163px;
                    top: 40px;
                    width: 96px;
                    height: 0;
                    overflow: hidden;
                    background: rgba(255,255,255, .95);
                    @include transform(height, 0.3s);
                    color: #4A4A5F;
                    .o_down_list{
                        text-align: center;
                        li:hover{
                            color: $color_CF2027;
                            cursor: pointer;
                        }
                    }
                }
                .otherGames_down_show{
                    height: 205px;
                    border: 1px solid $color_CF2027;
                    //border-top: 0;
                }
                .hover_lottery{
                    position: relative;
                    &:before{
                        @include icon_arrows_bg(35px,42px,$color_CF2027,10px,rgba(255,255,255, .95),-45deg);
                    }
                }
                .nav_active{
                    color: $color_CF2027;
                    background: #fff;
                }
            }
        }
    }
    .t_m_select_lottery{
        height: 0;
        overflow: hidden;
        background: rgba(255,255,255, .95);
        @include transform(height, 0.3s);
    }
    .t_m_select_lottery_show{
        height: 230px;
        border-top: 1px solid $color_CF2027;
        @include boxS(0, 3px, 2px, 0, #C19C9C, null);
    }
    .lottery_type_list{
        width: 730px;
        margin: 15px auto;
    }
    .lottery_type{
        float: left;
        margin-right: 25px;
        font-size: 14px;
        p{
            @include lh(30px);
            color: $color_CF2027;
            text-align: left;
        }
        .lottery_list{
            float: left;
            li{
                position: relative;
                @include lh(30px);
                width: 120px;
                padding-right: 20px;
                color: $color_363636;
            }
            li:hover{
                cursor: pointer;
                color: $color_CF2027;
            }
            .h_n_icon{
                margin-left: 8px;
            }
            .disabled_style{
                color: #999;
                &:hover{
                    color: #999;
                }
            }
        }

    }
}





