@import '../../../Style/variables';
@import '../../../Style/mixin';

.left_sider{
    margin: $content-top 0;
    .icon_img{
        margin: 0 5px;
        width: 24px;
        vertical-align: middle;
    }
    .new_lottery{
        position: relative;
        .icon_new_lottery{
            position: absolute;
            top: 3px;
            right: 5px;
        }
    }
    .ant-menu-root{
        border: 1px solid $color_CF2027;
    }
    .count_down_bg{
        background: -o-linear-gradient(45deg,#a974e4,#7474e4); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(45deg,#a974e4,#7474e4); /* Firefox 3.6 - 15 */
        background: linear-gradient(45deg,#a974e4,#7474e4); /* 标准的语法（必须放在最后） */
        background: -webkit-linear-gradient(45deg,#a974e4,#7474e4);
        -webkit-transition: right .2s ease;
        transition: right .2s ease;
    }
    .ant-menu-item:hover, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
        color: $color_363636;
        background: #e8e8e8;
    }
    .ant-menu{
        background: $background_F5F5F5;
        color: $color_363636;
    }
    .ant-menu-sub.ant-menu-inline{
        background: #fff;
        li:last-child{
            margin-bottom: 0;
        }
    }
    .ant-menu-inline .ant-menu-submenu-title{
        //padding: 0 7px !important;
        font-size: 14px;
        text-align: center;
        &:after{
            display: none;
        }
    }
    .ant-menu-inline .ant-menu-item{
        padding: 0 !important;
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title:after{
        right: 8px;
    }
    .ant-menu-item-selected{
        color: #fff !important;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background: $color_CF2027;
    }
    .ant-menu-inline .ant-menu-item-selected{
        border-right-color: transparent;
    }
    .ant-menu-inline .ant-menu-item{
        margin-left: 0;
        left: 0;
    }
    .ant-menu-submenu{
        border-bottom: 1px solid #ddd;
    }
}
