@import '../../../Style/variables';
@import '../../../Style/mixin';

.left_sider{
    margin-top: $content-top;
    width: 50px;
    .l_s_bg_01{
        display: inline-block;
        @include wh(28px, 26px);
        background:url(./Img/left_1.png) no-repeat center center;
    }
    .l_s_bg_02{
        display: inline-block;
        @include wh(29px, 24px);
        background:url(./Img/left_2.png) no-repeat center center;
    }
    .l_s_bg_03{
        display: inline-block;
        @include wh(28px, 28px);
        background:url(./Img/left_3.png) no-repeat center center;
    }
    .l_s_bg_04{
        display: inline-block;
        @include wh(28px, 28px);
        background:url(./Img/left_4.png) no-repeat center center;
    }
    .l_s_bg_05{
        display: inline-block;
        @include wh(27px, 21px);
        background:url(./Img/left_5.png) no-repeat center center;
    }
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after{
        content: '';
    }
    .ant-menu-item, .ant-menu-submenu-title{
        padding:8px 0 0 0;
        text-align: center;
    }
    .ant-menu-submenu-vertical{
        &:hover{
            background-color: $rodio-check-color;
        }
    }
    .ant-menu-dark{
        li:nth-child(1){
            &:hover .l_s_bg_01{
                background:url(./Img/left_1_active.png) no-repeat center center;
            }
        }
        li:nth-child(2){
            &:hover .l_s_bg_02{
                background:url(./Img/left_2_active.png) no-repeat center center;
            }
        }
        li:nth-child(3){
            &:hover .l_s_bg_03{
                background:url(./Img/left_3_active.png) no-repeat center center;
            }
        }
        li:nth-child(4){
            &:hover .l_s_bg_04{
                background:url(./Img/left_4_active.png) no-repeat center center;
            }
        }
        li:nth-child(5){
            &:hover .l_s_bg_05{
                background:url(./Img/left_5_active.png) no-repeat center center;
            }
        }
    }
}
