@import '../../../Style/variables';
@import '../../../Style/mixin';

.left_sider{
    margin: $content-top 0;
    .icon_img{
        margin-right: 5px;
        width: 24px;
        vertical-align: text-top;
    }
    .new_lottery{
        position: relative;
        .icon_new_lottery{
            position: absolute;
            top: 3px;
            right: 0;
        }
    }
    .ant-menu-root{
        border: 1px solid $color_CF2027;
    }
    .ant-menu-item:hover, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
        color: $color_363636;
        background: #e8e8e8;
    }
    .ant-menu{
        background: $background_F5F5F5;
        color: $color_363636;
    }
    .ant-menu-sub.ant-menu-inline{
        background: #fff;
    }
    .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title{
        padding: 0 7px !important;
        font-size: 14px;
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title:after{
        right: 8px;
    }
    .ant-menu-item-selected{
        color: #fff !important;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background: $color_CF2027;
    }
    .ant-menu-inline .ant-menu-item-selected{
        border-right-color: transparent;
    }
    .ant-menu-inline .ant-menu-item{
        margin-left: 0;
        left: 0;
    }
    .ant-menu-submenu{
        border-bottom: 1px solid #ddd;
    }
}
