@import '../../../Style/variables';
@import '../../../Style/mixin';

.playMethod_main{
    padding-left: 197px;
    .p_select_list{
        padding: 25px 0;
        border-bottom: 1px dotted #C8C8C8;
        li{
            margin-left: 10px;
            padding: 0 20px;
            height: 35px;
            border: 1px solid #C8C8C8;
            display: inline-block;
            font-size: 14px;
            line-height: 35px;
            cursor: pointer;
            border-radius: 3px;
        }
    }
    .p_select_list_active{
        background: #cc0000;
        color: #fff;
    }
    .shishicai,.fucai,.pailie,.shiyixuanwu,.beijingkuaile,.bobing{
        height: 614px;
        padding-top: 20px;
        overflow-y: scroll;
        &::-webkit-scrollbar-track-piece{
            background-color:#F4F4F4;
        }
        th{
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            padding: 10px 15px;
        }
        td{
            text-align: center;
            border: 1px solid #e5e5e5;
            padding: 10px 15px;
            line-height: 1.8;
        }
    }
}
