@import '../../../Style/variables';
@import '../../../Style/mixin';
$border_color: #C8C8C8;

.lottery-modal {
    text-align: center;
    white-space: nowrap;
    .ant-modal{

    }
    .l_m_title{
        font-weight: 900;
        font-size: 14px;
        margin-bottom: 17px;
    }
    .l_m_list{
        width: 427px;
        height: 167px;
        overflow-y: auto;
        margin-top: -9px;
        margin-left: 29px;
        text-align: left;
        padding: 20px 27px 8px;
        font-size: 13px;
        background: #fff;
        box-shadow: 0px 3px 5px #d6d6d6 inset;
        border: 1px solid $border_color;
        li{
            margin-top: 10px;
        }
        .l_m_unit{
            display: inline-block;
            float: right;
        }

    }
    .l_m_warn{
        margin-top: 14px;
        margin-bottom: 15px;
        color: $color_CF2027;
    }
    .l_m_total{
        font-size: 15px;
        color: $color_CF2027;
    }
    .ant-modal-content{
        background: $main_bg;
        box-shadow:none;
    }
    .ant-modal-body{
        text-align: center;
        white-space: pre-wrap;
        background: $main_bg;
    }
    .ant-modal-header{
        padding: 10px 16px;
        text-align: center;
        background: $background_F5F5F5;
        color:#333;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .ant-modal-title{
        color: #333;
    }
    .ant-modal-close{
        color:#333;
        font-size: 16px;
    }
    .l_m_rectangle{
        width: 455px;
        height:16px;
        margin: 0 auto;
        background: url(./Img/rectangle.png) no-repeat bottom right;
    }
    .l_m_content{

    }
    .btn_group{
        font-size: 13px;
        margin-bottom: 8px;
        margin-top: 18px;
        .oktz:disabled{
            opacity: .9;
            color: #fff;
        }
    }
    .ant-btn-primary{
        @include red_gradient;
        &:hover{
            background-color: #ba0a0a;
            border-color: #ba0a0a;
        }
    }
    .btn_cancel{
        @include gray_gradient;
        color: #333;
        border-color: $border_color;
        margin-left: 15px;
        &:hover{
            background-color: #f3f3f3;
            border-color: $border_color;
        }
    }
}

.lottery-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.lottery-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}
.mmclxgame{
    button{
        margin-top: 5px;
        padding: 4px 20px;
        font-size: 14px;
    }
    text-align: center;
    padding: 4px 0;
}
.lxp{
    text-align: center;
    font-size: 13px;
}
.mmcDiv{
    width: 370px !important;
    top: 37%;
    .ant-modal-content{
        border-radius: 5px;
    }
    .ant-modal-close{
        display: none;
    }
}
.fontcolor{
    color: #de0000;
}
    
