@import '../../../Style/variables';
@import '../../../Style/mixin';

.home_m_lottery{
    min-height: 260px;
    li{
        float: left;
        width: 33.33%;
        background: #fff;
        overflow: hidden;
        .h_l_content{
            position: relative;
            margin: 4px 2px 0 2px;
        }
        img{
            vertical-align: middle;
        }
        &:hover .home_m_lottery_type{
            bottom: 0;
        }
        &:hover .home_m_lottery_type_hover{
            background: rgba(176,26,18, .7);
        }
    }
    .home_m_lottery_type_hover{
        @include wh(100%, 50px);
        background: rgba(176,26,18, 0);
    }
    .home_m_lottery_type{
        position: absolute;
        bottom: -50px;
        left: 0;
        color: #fff;
        text-align: center;
        line-height: 50px;
        //padding: 20px 0 18px 20px;
        //margin: 4px 2px 0 2px;
        @include transform(bottom, 0.3s);
        .home_m_gaming{
            display: inline-block;
            @include wh(107px, 32px);
            line-height: 32px;
            font-size: 14px;
            @include borderRadius(16px);
            background-color: #fff;
            text-align: center;
            color: #B12F2D;
        }
    }
}
