@import '../../../Style/variables';
@import '../../../Style/mixin';

.right_plug_open{
    position: fixed;
    right: -15px;
    top: 50%;
    margin-top: -25px;
    z-index: 98;
    .openRight{
        text-align: center;
        width: 15px;
        border: 0;
        height: 50px;
        line-height: 50px;
        background-color: #3C3C3C;
        position: absolute;
        right: 0;
        top:0;
        cursor: pointer;
        z-index: 99;
        i{
            color: #878787;
    
        }
        &:hover i{
            color: #fff;
    
        }
    }
}
.right_plug{
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -165px;
    z-index: 99;
    &:hover{
        width: 140px;
    }
    .right_list{
        li{
            margin-top: 0;
            &:hover{
                width: 140px;
            }
            color:#fff;
            text-align: end;
            height: 47px;
            line-height: 47px;
            /*border-bottom: 1px solid #3C3C3C;*/
            label{
                color: #fff;
            }
            i{
                position: relative;
            }
            i::before{
                width: 100%;
                display: block;
                content: '';
                position: absolute;
                height: 1px;
                bottom: 0;
                left: 0;
                background: #3C3C3C;
            }

            .r_p_common{
                @include wh(50px, 47px);
                display: inline-block;
                &:hover{
                   /* transform: scale(1.2);
                    @include transform(transform, 0.3s);*/
                }
            }
            .r_p_goOld{
                background:#282828 url(./Img/fanhui1.png) no-repeat center center;
                &:hover{
                    background:$rodio-check-color url(./Img/fanhui2.png) no-repeat center center;
                }
            }
            .r_p_chongzhi{
                background:#282828 url(./Img/chongzhi1.png) no-repeat center center;
                &:hover{
                    background:$rodio-check-color url(./Img/chongzhi2.png) no-repeat center center;
                }
            }
            .r_p_kefu{
                background:#282828 url(./Img/kefu1.png) no-repeat center center;
                &:hover{
                    background:$rodio-check-color url(./Img/kefu2.png) no-repeat center center;
                }
            }
            .r_p_kehuduan{
                background:#282828 url(./Img/kehuduan1.png) no-repeat center center;
                &:hover{
                    background:$rodio-check-color url(./Img/kehuduan2.png) no-repeat center center;
                }
            }
            .r_p_app{
                background:#282828 url(./Img/shoujiapp1.png) no-repeat center center;
                &:hover{
                    background:$rodio-check-color url(./Img/shoujiapp2.png) no-repeat center center;
                }
            }
            .r_p_zoushi{
                background:#282828 url(./Img/zoushi1.png) no-repeat center center;
                &:hover{
                    background:$rodio-check-color url(./Img/zoushi2.png) no-repeat center center;
                }
            }
            .r_p_tousu{
                background:#282828 url(./Img/tousu1.png) no-repeat center center;
                &:hover{
                    background:$rodio-check-color url(./Img/tousu2.png) no-repeat center center;
                }
            }
        }

        li.active{
            cursor: pointer;
            position: relative;
            background: $rodio-check-color;
            label{
                cursor: pointer;
                position: absolute;
                width: 90px;
                top: 0;
                left: 0;
                text-align: center;
                padding: 0;
                margin: 0;
                color: #fff;
            }
            .r_p_goOld{
                    background:$rodio-check-color url(./Img/fanhui2.png) no-repeat center center;

            }
            .r_p_chongzhi{
                    background:$rodio-check-color url(./Img/chongzhi2.png) no-repeat center center;

            }
            .r_p_kefu{
                    background:$rodio-check-color url(./Img/kefu2.png) no-repeat center center;
            }
            .r_p_kehuduan{
                    background:$rodio-check-color url(./Img/kehuduan2.png) no-repeat center center;

            }
            .r_p_app{
                    background:$rodio-check-color url(./Img/shoujiapp2.png) no-repeat center center;

            }
            .r_p_zoushi{

                    background:$rodio-check-color url(./Img/zoushi2.png) no-repeat center center;

            }
            .r_p_tousu{

                    background:$rodio-check-color url(./Img/tousu2.png) no-repeat center center;

            }
        }
        li:nth-child(5).active{
            background:transparent;
        }
    }
    .p_QR{
        position: absolute;
        top: -75px;
        left: -75px;
    }

}

.r_caret-right{
    text-align: center;
    width: 50px;
    border: 0;
    height: 16px;
    line-height: 16px;
    background-color: #3C3C3C;
    position: absolute;
    right: 0;
    bottom: -16px;
    cursor: pointer;
    z-index: 99;
    margin-top: -5px;
    i{
        color: #878787;

    }
    &:hover i{
        color: #fff;

    }
}
