@import '../../../Style/variables';
@import '../../../Style/mixin';

.lottery_report{
    color: $color_363636;
    .team_list_top{
        padding: 30px 30px 13px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        font-size: 14px;
        .t_l_time{
            padding-bottom: 10px;
            .t_m_date_classify{
                display: inline-block;
                width: 70px;
                text-align: right;
            }
            .t_l_time_row{
                @include lh(30px);
                margin-bottom: 12px;
                .ant-input{
                    width: 150px;
                }
                li{
                    float: left;
                    margin-right: 10px;
                }
            }
        }
        .t_l_classify{
            @include lh(30px);
            li{
                float: left;
                margin-right: 30px;
                .l_b_acount{

                }
                .ant-input{
                    width: 120px;
                }
            }
            li:last-child{
                margin: 0;
            }
            .t_l_border{
                box-sizing: border-box;
                @include lh(30px);
                @include borderRadius(3px);
                display: inline-block;
                border: 1px solid $border-color;
                padding: 0 10px;
                &:hover{
                    cursor: pointer;
                    background-color: #ddd;
                }
            }
            .t_l_active{
                box-sizing: border-box;
                height: 28px;
                border:1px solid #CB1313 !important;
                color:#CB1313;
                background: #FFF5F5 url('./Img/time_active.png') no-repeat right bottom;
            }
        }
        .ant-checkbox-group{
            display: inline;
        }
        .ant-checkbox-wrapper{
            width: 125px;
            margin: 7px 8px 0 0;
        }
    }
    .t_m_select_lottery{
        padding: 0 5px 0;
        height: 0;
        overflow: hidden;
        @include transform(height, 0.3s);
        .ant-radio-wrapper{
            margin: 10px 25px 0 0;
            width: 105px;
        }
    }
    .t_m_select_lottery_show{
        height: 90px;
        border-top: 1px dotted #8B8D92;
    }


    .t_l_table{
        background-color: #F4F4F4;
        padding: 0 12px 50px;
        border-bottom: 1px dotted $dotted-color;
        &:last-child{
            border: 0;
            background-color: #ECECEC;
        }
        .t_l_location_name{
            @include lh(50px);
            .t_l_goBack{
                margin-right: 5px;
            }
        }
        .t_l_table_list{
            border: 1px solid #ccc;
            background-color: #fff;
            padding:8px 5px;
        }
        .t_l_page{
            margin-top: 8px;
        }
    }
    .tfoot_list{
        li{
            float: left;
            width: 130px;
            text-align: center;
            &:first-child{
                width: 250px;
            }
            &:last-child{
                width: 190px;
            }
        }

    }
    .ant-table-thead > tr > th, .ant-table-footer{
        background-color: #F8F7F4;
    }
}

