@import '../../../Style/variables';
@import '../../../Style/mixin';

.team_list{
    color: #363636;
    font-size: 14px;
    .team_list_top{
        padding: 30px 30px 13px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        .t_l_time{
            padding-bottom: 15px;
            .t_m_date_classify{
                display: inline-block;
                width: 70px;
                text-align: right;
            }
            .t_l_time_row{
                @include lh(30px);
                margin-bottom: 12px;
                li{
                    float: left;
                }
            }
            .t_m_line{
                margin: 3px 20px 0;
                height: 22px;
                border-left: 1px solid #AFAFAF;
            }
            .t_l_time_btn{
                box-sizing: border-box;
                @include lh(30px);
                li{
                    box-sizing: border-box;
                    @include lh(30px);
                    padding: 0 8px;
                    border:1px solid $border-color;
                    margin-right: 3px;
                    &:hover{
                        cursor: pointer;
                        background-color: #ddd;
                    }
                }
                li:not(:first-child){
                    border-left:1px solid $border-color;
                }
                .t_l_time_btn_active{
                    box-sizing: border-box;
                    height: 30px;
                    border:1px solid #CB1313 !important;
                    color:#CB1313;
                    background: #FFF5F5 url('./Img/time_active.png') no-repeat right bottom;
                }
            }
            .t_l_classify{
                @include lh(30px);
                li{
                    float: left;
                    margin-right: 30px;
                    .ant-input{
                        width: 120px;
                    }
                }
                li:last-child{
                    margin: 0;
                }
                .t_l_border{
                    box-sizing: border-box;
                    @include lh(30px);
                    display: inline-block;
                    border: 1px solid $border-color;
                    padding: 0 10px;
                    margin-left: 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: #ddd;
                    }
                }
                .t_m_serch{
                    height: 30px;
                    margin-left: 5px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .t_l_table{
        background-color: #F4F4F4;
        padding: 0 12px 50px;
        .t_l_location_name{
            @include lh(50px);
        }
        .t_l_table_list{
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 8px 5px;
        }
    }
    .ant-table-expanded-row{
        td:first-child{
            background-color: #ECFEFF;
        }
        td:last-child{
            padding: 0;
        }
    }
    .t_l_child_table{
        tr{
            background-color: #ECFEFF;
        }
    }
    .t_l_prompt{
        background-color: #bbb;
        padding: 5px;
        @include borderRadius(2px);
    }
    .t_l_active{
        box-sizing: border-box;
        height: 28px;
        border:1px solid #CB1313 !important;
        color:#CB1313;
        background: #FFF5F5 url('./Img/time_active.png') no-repeat right bottom;
    }
}

